In [1]:
import pandas as pd
import numpy as np

In [6]:
!ls '../../../data/cleandata/Info pluviometricas/Merged Data'

error_regions.csv  merged.csv

In [2]:
merged = pd.read_csv('../../../data/cleandata/Info pluviometricas/Merged Data/merged.csv', sep = ';')

In [3]:
merged['Data_Hora'] = pd.to_datetime(merged['Data_Hora'], yearfirst= True).sort_values(ascending =  True)

In [4]:
start, stop = merged['Data_Hora'].iloc[0], merged['Data_Hora'].iloc[-1]

In [5]:
def days_hours_minutes(td):
    return int(td.days), td.seconds//3600, (td.seconds//60)%60

days_hours_minutes(stop - start)

(3195, 0, 0)

In [20]:
d,h,m = days_hours_minutes(stop - start) + #

3195

In [22]:
total_days

3195.0104166666665

In [12]:
1/24

0.041666666666666664

In [6]:
from datetime import date, timedelta
# Criar Vetor de data (15 em 15 minutos )

d,h,m = days_hours_minutes(stop - start)
total_days = d + h/24 + m/24/60 + (1 / 24 / 4)

date_vec= [start + timedelta(x) for x in 
          np.arange(0, total_days, 1 / 24 / 4)]

# remover do vetor de 15 em 15 as amostras existentes em merged
missing = list(set(date_vec) - set(merged['Data_Hora']))
print('Amostras Faltantes:', len(missing),
      '\nTotal de amostras (info pluviometrico):', len(date_vec),
      '\nDeveria ser:',len(merged['Data_Hora']))

Amostras Faltantes: 0
Total de amostras (info pluviometrico): 306721
Deveria ser: 306721

In [14]:
date_vec[-1]

Timestamp('2019-10-01 00:00:00')

In [7]:
new_df = pd.DataFrame(date_vec, columns=['Data_Hora'])
new_df['Data_Hora'] = pd.to_datetime(new_df['Data_Hora'], yearfirst=True)

In [13]:
merged 
dh /      0   1   2   3   4
1:15     p0  p1 nan  p3 p4

SyntaxError: invalid syntax (<ipython-input-13-fa584521889c>, line 1)

In [8]:
merged = new_df.merge(merged, how = 'left', on = 'Data_Hora')

In [10]:
list(merged[merged['Local_0'].isna()].Data_Hora.unique())

[]

In [11]:
local_cols = [col for col in merged.columns if 'Local' in col]
for col in local_cols:
    merged.loc[:,col] = merged[col].dropna().unique()

In [9]:
merged

,Data_Hora,index,Data,Hora,UmidadeRelativa_0,PressaoAtmosferica_0,TemperaturaDoAr_0,TemperaturaInterna_0,PontoDeOrvalho_0,SensacaoTermica_0,...,PressaoAtmosferica_4,TemperaturaDoAr_4,TemperaturaInterna_4,PontoDeOrvalho_4,SensacaoTermica_4,RadiacaoSolar_4,DirecaoDoVento_4,VelocidadeDoVento_4,Precipitacao_4,Local_4
0,2011-01-01 00:00:00,0.0,2011/01/01,00:00:00,84.8,920.6,20.2,22.8,17.5,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,Vitoria
1,2011-01-01 00:15:00,1.0,2011/01/01,00:15:00,84.1,920.3,20.1,22.8,17.4,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,Vitoria
2,2011-01-01 00:30:00,2.0,2011/01/01,00:30:00,83.9,920.2,20.1,22.9,17.2,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,Vitoria
3,2011-01-01 00:45:00,3.0,2011/01/01,00:45:00,83.5,919.9,20.2,22.9,17.3,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,Vitoria
4,2011-01-01 01:00:00,4.0,2011/01/01,01:00:00,84.0,919.9,20.1,22.8,17.3,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,Vitoria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306716,2019-09-30 23:00:00,302610.0,2019/09/30,23:00:00,78.7,923.6,15.9,17.9,13.1,14.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306717,2019-09-30 23:15:00,302611.0,2019/09/30,23:15:00,78.8,923.5,15.9,18.0,13.1,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306718,2019-09-30 23:30:00,302612.0,2019/09/30,23:30:00,79.3,923.6,15.8,17.9,13.1,13.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306719,2019-09-30 23:45:00,302613.0,2019/09/30,23:45:00,80.7,923.5,15.5,17.8,13.2,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306720,2019-10-01 00:00:00,302614.0,2019/10/01,00:00:00,81.0,923.3,15.5,17.7,13.2,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged

In [12]:
local_cols

['Local_0', 'Local_1', 'Local_2', 'Local_3', 'Local_4']